adium-theme-ubuntu==0.3.4
appdirs==1.4.3
apt-xapian-index==0.45
autopep8==1.3.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bleach==2.0.0
certifi==2017.4.17
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
configparser==3.5.0
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
entrypoints==0.2.2
enum34==1.1.6
freeze==1.0.10
funcsigs==1.0.2
functools32==3.2.3.post2
html5lib==0.999999999
httplib2==0.8
iotop==0.6
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
Jinja2==2.7.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
lxml==3.3.3
MarkupSafe==0.18
matlabengineforpython===R2015a
matplotlib==1.3.1
mistune==0.7.4
mock==2.0.0
MySQL-python==1.2.3
nbconvert==5.1.1
nbformat==4.3.0
notebook==5.0.0
numpy==1.12.1
oauthlib==0.6.1
olefile==0.44
oneconf==0.3.7
packaging==16.8
PAM==0.4.2
pandocfilters==1.4.1
pathlib2==2.2.1
pbr==1.10.0
pep8==1.7.0
pexpect==3.1
pickleshare==0.7.4
PIL==1.1.7
Pillow==2.7.0
piston-mini-client==0.7.5
prompt-toolkit==1.0.14
protobuf==3.2.0
ptyprocess==0.5.1
pycodestyle==2.3.1
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
Pygments==2.2.0
pygobject==3.12.0
pyOpenSSL==0.13
pyparsing==2.2.0
pyPdf==1.13
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu1
python-dateutil==2.6.0
python-debian===0.1.21-nmu2ubuntu2
python-gflags==1.5.1
pytz==2012rc0
pyxdg==0.25
PyYAML==3.11
pyzmq==14.0.1
qtconsole==4.3.0
reportlab==3.0
requests==2.2.1
scandir==1.5
scipy==0.19.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
system-service==0.1.6
tensorflow==0.11.0rc0
tensorflow-gpu==1.1.0
terminado==0.6
testpath==0.3
tornado==4.5.1
traitlets==4.3.2
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==1.11.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.1
widgetsnbextension==2.0.0
xdiagnose===3.6.3build2
zope.interface==4.0.5
